.center {
  margin: auto;
  width: 60%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.form {
  border-radius: 25px;
  background: #73AD21;
  width: 500px;
  height: 325px; 
  padding: 20px;
  border: 1px solid grey;
  margin: auto;
  color: white;
}

fieldset {
    border: 1px solid greenyellow;
    background: green;
}

.button {
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 10px;
  width: auto;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
}

.button:hover {
  background-color: red;
  color: white;
  border: 1px solid blue;
}

label {
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin: 20px;
  width: 200px;
  display: block;
}



.board {
  width: fit-content;
  height: fit-content;
  background-color: darkturquoise;
  margin: auto;
  margin-top: 40px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  display: table-cell;
  padding: 0px;
}

.cellHeader {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  display: table-cell;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}

.snippet {
  background-color: #73AD21;
  border: 3px solid blue; 
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 30%;
  color: white;
}